.layout{
    width: 100%;
    height: 100%;
}
.header{
    background: #3ba0e9 !important;
    color : white !important; 
}
.header-meun {
    width: 200px;
    float: right;
    margin-right: 15px;
    text-align: right;
}
.header-username{
    color: white !important;
}
.layout-content {
    padding: 5px;
}